<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Qubico | One-Page Creative Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- ==============================================
		Favicons
		=============================================== -->
		<link rel="shortcut icon" href="/theme/assets/favicon.ico">
		<link rel="apple-touch-icon" href="/theme/assets/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/theme/assets/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/theme/assets/apple-touch-icon-114x114.png">
		
		<!-- ==============================================
		CSS
		=============================================== -->    
		<link rel="stylesheet" href="/theme/css/bootstrap.min.css">
		<link rel="stylesheet" href="/theme/css/font-awesome.css">
		<link rel="stylesheet" href="/theme/css/flexslider.css">
		<link rel="stylesheet" href="/theme/css/sequencejs-qubico.css" />
		<link rel="stylesheet" href="/theme/css/colorbox.css" />
		<link rel="stylesheet" href="/theme/css/qubico.css">
		<link rel="stylesheet" href="/theme/css/qubico-cyan.css">
		
		
		<!-- ==============================================
		Fonts
		=============================================== -->
		<link href='https://fonts.googleapis.com/css?family=Dosis:600,700,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
		
		<!-- ==============================================
		JS
		=============================================== -->
			
		<!--[if lt IE 9]>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="/theme/js/libs/modernizr.min.js"></script>
		
		
	</head>
  
	<body data-spy="scroll" data-target="#main-nav" data-offset="400">
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
					<!-- ======= LOGO ========-->
					<a class="navbar-brand scrollto" href="/">
						<span class="logo-small"><img src="/theme/assets/logo-small.png" alt=""/></span>
						<span class="to-top"><i class="fa fa-arrow-up"></i></span>
						
						MHRS
						
						<!-- ==== Image Logo ==== -->
						<!--<img class="site-logo" src="assets/logo.png" alt="logo" />-->
					</a>
					
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li >
							
						</li>
						
						
					</ul>
				</div><!--End navbar-collapse -->
				
			</div><!--End container -->
			
		</div><!--End main-nav -->
		
		
		
		
		<section id"graph">
		<br /><br /><br /><br /><br />
		<div class="row">
			<div id="container" style="width: 1050px; height: 500px; margin: 0 auto" class="container"></div>
    	</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		<footer id="main-footer" class="color-bg light-typo">
		
			<div class="container text-center">
				<ul class="social-links">
					<li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
					<li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
					<li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
					<li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
					<li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
				</ul>
				
			
			</div>
			
		</footer>
		
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/theme/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
		
		<script src="/theme/js/libs/bootstrap.min.js"></script>
		<script src='/theme/js/jquery.easing.1.3.min.js'></script>
		<script src='/theme/js/jquery.scrollto.js'></script>
		<script src='/theme/js/jquery.flexslider.min.js'></script>
		<script src='/theme/js/jquery.fitvids.js'></script>
		<script src='/theme/js/jquery.fittext.js'></script>
		<script src="/theme/js/waypoints.min.js"></script>
		<script src="/theme/js/jquery.countTo.js"></script>
		<script src="/theme/js/jquery.easypiechart.js"></script>
		<script src="/theme/js/jquery.sequence-min.js"></script>
		<script src="/theme/js/jquery.colorbox-min.js"></script>
		<script src="/theme/js/contact.js"></script>
		<script src="/theme/js/qubico.js"></script>

		<script src="https://code.highcharts.com/highcharts.js"></script>
		
		<script language="JavaScript">
      $(document).ready(function() {
         var chart = {
            zoomType: 'x'
         };
         var title = {
            text: 'Ocean water attributes chart'
         };
         var subtitle = {
            text: document.ontouchstart === undefined ?
               'Click and drag in the plot area to zoom in and select parameters (at bottom) to compare' : 'Pinch the chart to zoom in and select parameters (at bottom) to compare'
         };
         var xAxis = {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        };
         
         var credits = {
            enabled: false
         };

         var tooltip = {
            shared :true
         };

         var yAxis = [ { // Primary yAxis
            title: {
               text: 'PH',
               style: {
                  color: Highcharts.getOptions().colors[0]
               }
            },
            labels: {
               format: '{value}',
               style: {
                  color: Highcharts.getOptions().colors[0]
               }
            },
            tickInterval: 1,
            tickAmount: 5,
            opposite: true
            //max: 3

         }
         ,{ // Secondary yAxis - 1
            labels: {
               format: '{value}',
               style: {
                  color: Highcharts.getOptions().colors[1]
               }
            },
            title: {
               text: 'Dissolved CO2',
               style: {
                  color: Highcharts.getOptions().colors[1]
               }
            },
            tickInterval: 300,
            tickAmount: 7,
            opposite: true
         }
         ,{ // Secondary yAxis - 2
            labels: {
               format: '{value} \xB0F',
               style: {
                  color: Highcharts.getOptions().colors[2]
               }
            },
            title: {
               text: 'Temperature',
               style: {
                  color: Highcharts.getOptions().colors[2]
               }
            },
            tickAmount: 7,
            opposite: true
            
         }
         ,{ // Secondary yAxis - 2
            labels: {
               format: '{value}',
               style: {
                  color: Highcharts.getOptions().colors[4]
               }
            },
            title: {
               text: 'Salinity',
               style: {
                  color: Highcharts.getOptions().colors[4]
               }
            },
            //tickInterval: 0.8,
            tickAmount: 5,
            opposite: true
            
         }];


         var legend = {
            layout: 'horizontal',
            align: 'center',
            //x: 120,
            verticalAlign: 'bottom',
            //y: 100,
            //floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
         };

         var phdata = [7.9653375,7.938808511,7.959751064,7.96099375,7.957115789,7.915930556,7.894874468,7.9577875,7.95906383,7.655129412,7.97235,7.931433333,7.910354878,7.870278495,7.8407675,7.841812903,7.887372632,7.870134043,7.849311702,7.85323617,7.811972043,7.882742857,7.783964179,7.808520732,7.832324468,7.807616129,7.9562625,7.880361053,7.878737079,7.878876471,6.989225,7.671304167,7.865181915,7.843346316,7.773945745,7.743776842,7.728288298,7.72549875,7.9796,7.842083333,7.842056842,7.86357766,7.876379787,7.890758947,7.869361702,7.890549474,7.86318617,7.839066316,7.839596809,7.859337234,7.869029474,7.852976596,7.841390526,7.828375532,7.830916304,7.838122826,7.818138947,7.786162766,7.830792632,7.819571277,7.792768421,7.780859574,7.772368085,7.775844211,7.762235106,7.83012,7.835875532,7.825362105,7.82097766,7.798737895,7.789884043,7.777612766,7.767029474,7.752747872,7.738287368,7.744192553,7.747933846,7.762804211,7.773765957,7.788027368,7.771142553,7.769781111,7.782351579,7.796775532,7.777548421,7.793635106,7.789135106,7.788553684,7.778923404,7.776413684,7.795780851,7.798798947,7.801324468,7.827307609,7.756426596,7.725825532,7.763505263,7.714442553,7.854140909,7.860406383,7.864363158,7.878118085,7.717021277,7.269173077,7.917683333,7.884704255,7.892130526,7.884179787,7.876359574,7.882467368,7.889840426,7.879941053,7.885073404,7.869507368,7.87302234,7.861576596,7.867606316,7.879416667,7.855053684,7.86311383,7.851152632,7.847646809,7.850126596,7.849133684,7.875704396,7.862966667,7.92922,7.993205263,8.026029787,7.984751579,7.967151064,7.963660638,7.982689474,7.955544681,7.978813684,8.047471277,8.043790526,8.031769149,8.033710638,7.931465263,8.013161728,7.94035,8.010024211,7.985834043,8.00406,7.980029787,7.996547872,8.029234737,8.009056383,7.818427273,7.995546739,7.981666316,7.975711494,7.983022222,7.97684,7.915694521,7.970583333,7.971924468,7.958044211,7.82566383,7.949372632,7.96936383,7.981629787,7.880072632,7.966164894,7.96488,7.964126596,7.7393875,7.983837333,7.98341,7.788866667,7.801378947,7.966303191,7.987268085,7.988910526,7.955032099,7.982584,7.975310843,7.98325119,7.98971519,8.000337895,7.975384043,7.984885263,7.986895745,7.974390426,7.974623158,7.989524468,7.814255789,7.991079787,7.976842105,7.988111702,7.992556383,7.988174737,7.994725532,7.974267368,7.988510638,7.969116842,8.019847872,8.006632979,8.003918947,7.94342,8.00937,7.98503617,7.980824211,7.82748617,7.980661053,7.980111702,8.020393617,8.021758947,8.017737234,8.021967368,7.994639362,8.007278947,8.026757447,8.004735106,8.006757895,8.001107692,8.035335484,8.033282979,8.003185263,8.006559574,8.000322105,8.002965957,8.000711579,8.018338298,8.012689362,8.042493684,8.044706383,8.039624211,7.918036364,8.030516456,8.017702128,7.810830526,7.874540426,8.044685106,8.037815789,8.023265957,8.024435211,8.032310345,8.015964894,7.992157895,8.040945745,8.036334043,8.032504211,8.024973404,8.024771579,8.039556383,8.034307368,8.028634043,8.041547872,8.027578947,8.031607447,8.007626596,8.008852128,8.020574737,8.021795745,8.025058947,8.031876596,8.039258947,8.044143617,8.032581915,7.948489474,8.014075532,8.034963158,8.051637234,8.046448421,8.052097872,8.04928617,8.050117857,7.953541181,7.870932083,7.887237708,7.866318126,null,null,7.8179,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.95735,8.026162105,8.028598936,8.052942105,8.027609574,8.045661053,8.023681915,8.009575789,8.013870213,8.027337954,8.021242639,8.018941111,8.026649306,8.028515903,8.009066458,8.012981037,8.019586181,7.991146875,7.980937721,7.972528723,7.970924211,7.98102,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.855518421,7.841323403,7.849048681,7.873189444,7.863015417,7.882612778,7.876224583,7.850269588,7.834422306,null,null,null,null,null,7.788972941,7.7881,7.796995789,7.761282979,7.677918947,7.858143617,7.859443498,7.855518863,7.814139052,7.821268681,7.798341528,7.779070694,7.781168611,7.837633333,7.857265903,7.85324625,7.868049931,7.849692361,7.856672292,7.8507,7.847967153,7.840231944,7.832896736,7.804285764,7.81818375,7.848137292,7.822942569,7.804527986,7.721932827,7.899868085,7.932178947,7.554905319,7.580623158,8.014854255,7.832060638,7.856975789,7.831028723,7.985837895,8.017081915,8.012831579,7.995617021,7.976510638,7.957021053,7.964905319,7.972798947,7.978705319,7.963502105,7.880397872,8.062052128,8.081365263,8.102620513,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.9041,null,null,null,null,null,null,null,null,null,8.011571536,7.971384556,7.987911736,null,null,null,null,null,null,null,null,null,null,8.004670017,7.927776577,7.927130573,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.9041,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,8.062739274,8.103360015,8.093144444,8.070734444,8.067313805,8.012682823,8.033682775,8.027664799,null,null,null,null,null,null,null,null,null,null,null,null,8.045786364,7.972727462,7.971307595,7.92384172,7.949062271,8.003351613,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.871044444,7.866975633,7.917838916,7.959554339,7.999121015,8.021533333,8.03486574,7.95159063,7.99722396,8.022582011,8.012331329,8.004404598,7.999327966,7.993657654,7.997847204,8.013148549,8.011195586,null,null,null,8.032695503,8.044644,8.038656232,8.058144352,8.038143601,8.032681856,8.047153092,8.03255608,8.026481818,null,8.0199,8.018932514,8.008578978,8.008234569,7.996990871,7.985501392,7.938875594,7.906646653,7.915167663,7.900473382,7.926890125,7.931436978,7.938914057,7.923299305,7.968972463,7.968546224,7.984889861,7.94770875,8.007709357,null,7.944784141,7.97626134,7.978065965,7.978312826,7.953329516,7.949599571,7.96197839,7.930407565,7.944611399,null,null,null,null,null,null,null,8.025782,7.984577227,null,8.004021429,7.96558992,7.91090282,7.969195833,7.912362558,null,8.021057576,8.007230216,7.950341875,7.942700486,7.97842386,7.927205976,7.860793593,7.957796801,7.960688754,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,7.865725,null,null,null,7.970006061,7.932813899,7.930586865,7.923746089,7.928077181,7.940006485,7.988206328,8.007971022,8.020964236,7.987372323,8.007513013,8.004481926,8.002510901,7.9980125,7.993986173,7.970906897,7.961478969,7.938655216,7.94356156,7.951506115,7.952602437,7.967789236,7.987709331,8.000354419,7.960454976,7.976694997,7.971332215,7.901307237,7.902780167,7.911142757,7.896225436,7.883149687,7.869166156,7.884069241,7.899829624,7.895545024,7.924899371,7.926733727,7.920322965,7.9089,7.916017131,7.931294011,7.954365877,7.887725426,null,7.9464525,7.974255899,7.998951849,7.976842329,7.939971051,7.942495953,7.984189208,7.979713649,7.975869435,8.003219386,8.015221882,7.995505989,7.985210918,7.973346758,7.971135837,7.989359414,7.990210702,7.979670888]
         
         var co2data = [2056.9225,2079.426702,2067.087447,2055.795,2053.516842,2077.437778,2088.619255,2047.406944,2052.18266,1027.773882,2077.76,2087.809067,1896.251829,2108.17,2121.205125,2120.313011,2100.168316,2107.569574,2115.110319,2114.588085,2127.102796,2092.65,2119.076716,2112.272683,2102.468404,2115.75629,2042.03625,2081.368105,2080.288876,2045.664471,2063.3975,2165.649583,2092.574681,2105.781053,2132.118085,2140.950316,2147.360638,2126.878125,2063.02,2108.328333,2005.036211,2092.09617,2079.56266,2067.858211,2071.668617,2056.253474,2059.047553,2063.984421,2052.67617,2031.621809,2013.691789,2014.629574,2028.802211,2028.213511,2018.080109,2013.297826,2014.485158,2021.344468,2001.614737,2003.736383,2015.236632,2026.116277,2060.810319,2060.023053,2065.995532,2109.942105,2099.268936,2100.650947,2093.27234,2100.009158,2093.756383,2094.048936,2092.430737,2114.084043,2117.271158,2102.959787,2098.326615,2124.197895,2116.666489,2105.614947,2105.857021,2109.814667,2104.188632,2095.466064,2099.869579,2091.081809,2088.604787,2085.317474,2084.514255,2082.994947,2091.610106,2112.910105,2113.495638,2121.106957,2092.19117,2120.069681,2072.145158,2087.529468,2112.392273,2106.288298,2101.673474,2087.445319,1607.557128,1069.757179,2050.574167,2077.598511,2053.968105,2071.275426,2065.232766,2067.512632,2063.439894,2066.219263,2085.995957,2092.306211,2092.367872,2093.558191,2089.463053,2072.965,2084.797368,2078.486383,2079.681579,2075.673723,2072.151489,2059.560526,2064.943077,2057.318333,2027.502,2002.878526,1972.655745,1990.101368,1994.826064,1989.099681,1982.114316,1990.01617,1985.506526,1974.436809,1965.588,1968.264149,1962.410319,1251.745263,1940.835926,1949.15117,1895.520842,1907.894043,1893.143684,1902.701383,1870.529681,1870.176842,1789.615106,929.7204545,1738.025543,1681.684737,1655.536437,1768.147778,1650.278105,1640.451781,1765.584167,1695.012234,1695.339368,1093.776915,1748.443684,1774.391809,1793.543404,1222.206947,1777.932553,1803.119579,1840.865,709.60875,1836.891733,1873.0135,1163.116667,968.2481053,1799.130426,1893.761596,1895.913263,1764.572346,1877.602267,1876.514458,1906.724405,1902.782152,1898.804421,1904.988723,1904.032211,1902.953617,1910.76383,1911.457684,1909.314255,1057.446421,1901.248723,1903.832526,1901.989894,1896.004255,1892.288421,1887.934574,1894.259474,1888.650851,1876.049895,1865.401809,1751.384574,1260.850842,817.8326667,1774.307,1744.609149,1730.651684,911.6104255,1787.266947,1795.676383,1760.543936,1798.949053,1806.953085,1809.591474,1826.731383,1814.914211,1823.984043,1819.847553,1826.015053,1833.795385,1824.84172,1827.863936,1818.338105,1822.954787,1823.965263,1834.589681,1823.215684,1826.037021,1841.801489,1831.293263,1829.47766,1830.815368,1220.20039,1869.032025,1873.985851,766.4573684,1064.082553,1872.390851,1880.174632,1879.015213,1874.851268,1864.331034,1652.037766,1266.823158,1868.988617,1873.616809,1868.457263,1864.488617,1800.211474,1878.259894,1878.148842,1879.444362,1872.321702,1872.891789,1866.966489,1869.519255,1869.091064,1862.929474,1851.422128,1855.959684,1847.630319,1841.993158,1834.742447,1851.121277,1517.220421,1860.963404,1853.448421,1841.537021,1837.838526,1844.587128,1841.569362,1850.726786,1135.543565,896.1712014,1165.227451,896.707556,null,null,2019.17,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,2017.876667,2011.909684,2009.865,2000.274,2014.978723,2005.878842,2017.156383,2019.748526,2014.59617,2003.097541,2007.887424,2011.958632,2004.451604,1998.755882,2005.662208,2001.298955,1996.655965,2005.046507,2009.0211,2010.779043,2010.904842,1905.262128,999.9769841,null,null,2065.238254,2059.167403,2055.575556,1893.925479,1138.957035,2052.954715,2080.716681,2061.970833,2070.312319,2025.191424,2074.012174,2067.853625,2028.094924,2059.289799,2061.530218,null,null,null,null,null,null,2077.481219,2073.248396,2073.159486,2065.646486,2054.061958,2055.761799,2045.474632,2044.829889,2054.487296,2059.580084,null,null,null,null,null,2068.049882,2066.383936,2057.588105,2065.746809,1647.611053,2025.120213,2021.679955,2022.349165,2100.668715,2092.800347,2111.119424,2120.467868,2114.367444,2048.825229,2084.126729,2083.164833,2072.788854,2076.027875,2059.552903,2073.87,2074.2145,2082.057208,2083.368111,1819.331118,2079.268743,2062.899979,1797.875403,1345.447,1162.996616,2073.970957,1901.296737,867.5048936,1339.607053,1962.112766,1204.953191,1267.695789,1210.851702,2042.639053,2017.978404,2023.505368,2031.494787,2040.226809,2048.906,2043.65734,2033.625053,2027.323617,2037.524105,1915.059043,1988.462128,1973.278421,1962.049359,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,2001.62,null,null,null,null,null,null,null,null,null,2000.816217,2017.05348,2034.702727,null,null,null,null,null,null,null,null,null,null,2017.236175,2043.16955,2044.071465,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,2001.62,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,1980.770924,1967.511872,1969.326683,1979.624597,1987.798318,2000.463637,1989.871423,1991.65281,null,null,null,null,null,null,null,null,null,null,null,null,1960.269091,1992.275701,1990.242873,2008.681304,2000.473216,1980.194277,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,1183.400833,1017.199446,1654.790049,1674.85037,2031.462573,2021.953333,2023.052036,1406.124606,1893.024792,2027.832381,2033.908462,2018.105023,2026.986321,2043.371376,2051.223078,2043.039398,2044.866568,null,null,null,2034.34472,2034.901656,2032.697059,2025.365708,1991.821428,2015.920893,2026.875101,2031.349363,2033.93817,null,2017.11,2019.347619,2028.737286,2048.408297,2047.149263,2056.544259,2083.138848,2097.270265,2091.461669,2099.845684,2088.68821,2085.869729,2082.422083,2089.050924,2066.29559,2065.460667,2025.398139,2074.174965,2027.504197,null,2064.616828,2063.896929,2062.922939,2062.474609,2072.08096,2072.799464,2068.236208,2084.896314,2077.773472,null,null,null,null,null,null,null,2039.0926,2030.051433,null,1829.617143,1993.473192,1151.13987,2035.938125,1339.400896,null,2039.931818,2046.789388,2077.559924,2084.101077,2064.500814,1905.301418,1255.649102,2083.304047,2082.764073,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,2132.68,null,null,null,2086.54,2106.499629,2069.570044,2114.339204,2113.803559,2102.967657,2088.680542,2039.461306,2060.047806,1840.54267,2075.669743,2074.616385,2074.312928,2074.720403,2073.151746,2085.062836,2090.257876,2088.502218,2018.376191,2093.518193,2092.555968,2082.624042,2059.339499,2046.639569,2060.414398,2036.497721,2035.618526,2056.764178,2056.078219,2049.587852,2049.71253,2052.247008,2058.774986,2037.985331,2042.965563,2041.942686,2028.739909,2034.556363,2039.687001,2046.78,1948.648935,2035.824923,2028.933865,917.039883,null,2051.781563,2030.68309,2011.089016,2013.296276,2038.593194,2025.648625,1998.386615,2003.202869,1997.332784,1989.142957,1983.844507,1981.380278,51.8125,48.47291667,49.15375,52.585875,51.97620833,49.48630435,]
         
         var tempdata = [33.45771667,33.55556596,33.56126596,33.4689875,33.56359474,33.60125205,33.58252447,33.24254521,33.39955745,9.862925882,33.76066667,33.77127922,29.39530366,33.78282391,33.75950494,33.75230638,33.72879684,33.74946271,33.77354348,33.75079574,33.76085699,33.70787143,33.26309706,33.86505244,33.85865106,33.74694355,33.73347778,33.79368,33.81046667,33.15799294,34.231925,34.0489,33.98645638,34.00015895,34.01095745,33.98508947,33.96071702,33.49475,34.004,34.11175,32.01582737,34.02544043,33.84269681,33.77308947,33.63698723,33.49954211,33.3492734,33.21751895,32.97698723,32.66145851,32.30672632,32.20789681,32.42956632,32.27630106,32.11455435,32.05548478,31.94065895,31.80626489,31.64908316,31.53871809,31.64153895,31.79827021,32.52502553,32.54875158,32.65128298,34.13912842,34.02103723,33.94933474,33.89651915,33.77741684,33.51457447,33.39365532,33.26170316,33.6440766,33.64386632,33.34733085,33.32868308,33.91417474,33.79739574,33.66757263,33.45994894,33.61226111,33.52933684,33.47240957,33.38034,33.28664787,33.20519681,33.11540421,32.99809149,32.96685474,33.42900213,33.40519368,34.02700638,34.06208913,33.0077766,33.34924681,32.45630211,32.67272447,28.17165,34.05931596,33.97951579,33.75372234,23.02732766,10.04145,33.48541667,33.49498936,33.07304842,33.31671596,33.02143298,33.13432526,33.11887447,33.07090632,33.56090851,33.60239053,33.60979681,33.55349255,33.48336947,33.2316697,33.25370316,33.19883723,33.13477474,33.00000957,32.88708723,32.58900632,32.87281758,32.66454167,32.6306,32.39401895,32.02440319,32.01626632,31.91798936,31.74750532,31.75539158,31.68750426,31.80234737,32.22149149,31.98910737,31.92987979,31.82563617,15.97846,31.16854568,30.74336383,30.12316526,30.1996617,30.03091368,30.06338085,29.51825,29.74055368,27.8613734,8.603322727,26.58921522,24.94517579,24.34545862,26.38915556,24.25953579,23.69000822,26.41929167,25.1992,25.07512947,11.96729043,26.15952632,26.85847553,27.34823191,14.84964632,26.7296734,27.26451895,28.12587872,3.487791667,28.594896,28.990365,4.0397,9.288605263,27.45285745,29.52220638,29.58463368,26.60088025,29.15951467,29.07821928,29.80008452,29.79740253,29.83421789,29.79478191,29.83557263,29.81854787,29.8804617,29.89723158,29.97640638,11.17781368,29.80723723,29.75887053,29.8317383,29.75782021,29.65281684,29.62134255,29.60227053,29.61545957,29.20377474,29.36041277,26.8581234,16.27144105,6.2618,26.79517,26.47883404,26.18432211,8.027658511,27.43337579,27.60204574,27.18499894,27.99449474,28.13859149,28.21640316,28.37814894,28.23383789,28.55267553,28.23734362,28.41927579,28.54697179,28.66705161,28.6658734,28.19883053,28.31816809,28.23804947,28.47848085,28.34494316,28.59759681,28.80026277,28.83838842,28.82099468,28.85227579,14.94771688,29.70593418,29.75897128,4.880868421,11.64295745,29.9686883,30.09461158,29.94951277,29.86009577,29.69413448,25.18314362,16.42634632,29.96162128,29.99631383,29.87101789,29.71589894,28.51582737,30.12226383,29.99371684,29.94067979,29.89448191,29.78008632,29.62697766,29.15766064,29.47375638,29.42830316,29.19851383,29.35413895,29.29157021,29.21290842,29.11440213,29.31747021,21.52092526,29.44177021,29.45958211,29.35916064,29.19004421,29.34233723,29.26028404,29.42666071,13.02701882,7.585133403,13.51561944,9.522399252,null,null,29.46647782,57.53285714,54.86625,52.53416667,52.06791667,52.34304348,52.49375,51.82483333,51.33629167,52.14870833,53.170875,56.63083333,56.67033333,55.404625,54.34469565,54.40275,54.6165,56.00704167,53.743375,57.21029167,58.0415,56.97545833,58.60154167,58.701375,55.283,53.86566667,54.11870833,53.317125,53.30108333,53.67041667,54.433625,55.23391667,54.26404167,55.41791667,56.04166667,59.31579167,59.36041667,59.48333333,60.93725,59.02320833,57.33956522,57.39070833,58.70375,60.121375,59.37933333,60.90679167,61.17391667,62.648,60.37825,59.05633333,60.97379167,62.79254167,62.00357143,null,null,null,null,null,null,null,null,null,null,33.97532456,65.074,63.96845833,62.15758333,61.311625,61.14429167,63.20670833,61.41591667,60.613625,60.16458333,60.36204167,62.3215,62.864375,62.39833333,61.0945,60.73275,60.04883333,60.819,61.61929167,60.67320833,58.76816667,61.48241667,61.94970833,62.28608333,60.71079167,59.57120833,61.295625,65.37216667,64.82908333,64.59725,62.07075,60.43045833,60.972875,60.82545833,58.25425,57.24395833,56.88920833,57.82891667,63.4685,62.10045833,56.79925,56.48070833,56.14654167,60.43995833,59.49695833,58.99326087,58.27117391,58.57079167,58.46066667,59.32083333,61.25104167,61.00069565,57.66704167,57.618875,60.49141667,58.8225,58.06275,56.90883333,56.65317391,58.97754167,58.45643478,59.62208333,59.86966667,58.038,60.59882609,62.86808333,64.29733333,61.270625,59.05234783,58.30647826,61.94608696,59.93604167,58.19720833,63.5946087,63.42882609,61.96075,61.00226087,61.24421739,62.48779167,62.188375,61.21495833,58.2185,58.95491667,58.1136087,58.38379167,58.8013913,59.94175,58.86613043,61.25208333,60.47075,58.2626,58.48927273,59.85841667,58.17891304,56.44082609,53.4843913,51.6273913,53.346375,52.56529167,54.73570833,53.51508333,50.74195833,50.02016667,51.46333333,51.73741667,51.526625,55.19745833,52.01958333,53.89454167,55.13575,53.89575,53.88008333,50.755,54.35220833,49.95583333,51.15445833,47.07870833,45.14404167,50.19408333,47.44921739,52.50579167,50.62583333,50.600125,53.93916667,55.37683333,52.49741667,50.49869565,55.270625,56.304875,56.55354167,57.28495833,58.88166667,53.205875,52.8495,54.53333333,49.61425,48.47016667,46.795,48.15429167,52.54941667,51.011625,48.236625,56.03317391,57.06508333,52.27591667,50.36841667,46.14195833,45.24545833,42.34366667,44.99420833,47.25120833,45.01391304,44.78595833,42.295875,47.05254167,49.01318182,52.10254167,53.49479167,52.283125,49.223375,47.17870833,50.99179167,50.96029167,53.29454167,55.688375,56.17204167,48.60120833,54.26654167,53.88108333,55.98183333,54.58566667,56.08795833,52.65420833,54.89383333,56.43925,55.09454167,52.80078261,52.70504167,53.41456522,55.66345833,52.75586957,56.16586364,53.044625,50.84354167,49.82625,50.15829167,48.79620833,53.562875,52.21591667,55.44008333,54.13616667,64.30170833,68.93895833,56.33675,56.91845833,54.399625,55.22970833,56.21070833,55.40791667,60.91670833,61.05666667,53.88170833,53.11154167,48.62041667,48.96570833,54.66204167,53.70529167,54.98804167,54.39408333,54.18904167,54.99104167,53.22075,54.90145833,56.19120833,56.23591667,56.73770833,56.07383333,57.89729167,55.71675,52.43041667,52.48783333,51.43108333,56.0325,55.91429167,53.56791667,55.57373913,55.17658333,52.37575,53.69204348,55.36533333,53.6985,55.555125,55.369125,56.19708333,54.21554167,53.16041667,55.69270833,54.38779167,53.858,53.65033333,50.74954167,49.83541667,50.03254167,52.810875,52.03083333,51.86541667,50.76908333,54.17183333,53.51245833,61.86370833,61.192625,57.22652174,56.00016667,54.3765,54.91754167,54.39308333,53.84466667,53.96291667,53.048,54.082375,57.725,58.88333333,57.11654167,56.189625,59.18141667,57.60420833,55.13366667,55.74745833,52.20683333,51.15458333,52.10120833,51.97941667,51.65504167,52.89830435,56.40333333,55.51625,53.21591667,55.05654167,56.76213043,53.67695833,54.07116667,55.76916667,54.06125,53.33341667,53.5845,53.53866667,55.98595833,56.02179167,57.43541667,54.861875,55.05533333,55.69704167,54.311625,52.25517391,53.90258333,54.35120833,55.123,55.22666667,55.58682609,55.08633333,54.98891304,54.99517391,55.81595,55.49921739,55.665125,54.629125,55.86804167,57.44016667,56.343625,56.64804167,55.69679167,58.15508333,58.88208333,57.282,57.393375,55.24670833,56.60908333,54.99991667,55.044625,54.88025,58.19070833,59.52979167,56.21583333,56.22191667,55.35658333,54.89445833,53.91041667,54.741125,55.37075,54.12375,52.82808696,52.64041667,52.68882609,51.62227273,53.0186087,54.13970833,54.493125,54.25829167,55.595125,54.07095833,53.69433333,54.848125,55.73433333,57.95695833,57.31804167,55.08804167,55.705875,56.92214286,54.65308333,55.60266667,56.45658333,54.59391667,55.26066667,55.21426087,55.52204167,57.25004167,55.51425,54.68420833,53.59845833,55.82065217,53.95483333,54.966625,53.90691667,54.41166667,55.45173913,57.47870833,58.71275,57.127125,57.79583333,55.30758333,55.990125,55.16766667,57.46666667,57.62386957,57.06895833,57.93095833,55.97,55.813875,53.581375,53.64008333,54.91291667,55.090625,56.07491667,58.55258333,59.16129167,58.85204167,57.6935,56.66629167,58.42920833,56.164625,55.94458333,60.14758333,61.21375,60.73158333,60.097125,61.19216667,60.23475,58.57295833,56.98629167,56.37441667,56.09329167,54.58291667,55.498375,56.73033333,58.27420833,56.72595833,56.18075,55.9235,54.72695833,59.322625,62.073375,56.63141667,54.858625,54.38845833,57.049625,60.03083333,58.12620833,56.99304167,56.62491667,55.54358333,58.94266667,59.406625,67.47158333,57.53675,53.94245833,53.058125,54.370875,55.52120833,57.31870833,54.48375,56.41483333,56.949,55.43991667,56.460125,56.16154167,57.44629167,54.38379167,57.02991667,54.330625,57.27795833,59.80970833,58.97695833,59.41916667,59.63829167,57.47154167,56.84770833,56.629625,56.46158333,56.28175,53.3025,57.43341667,57.04104167,60.63566667,59.784,59.72358333,59.51916667,59.51866667,57.00416667,57.97358333,55.734125,59.445,59.332875,57.01083333,60.06216667,59.25158333,62.94491667,59.70241667,59.73029167,56.80333333,59.06079167,55.02941667,55.74475,57.45075,55.67883333,51.88383333,53.54483333,56.268625,57.88770833,54.77183333,51.973125,53.23616667,49.99908333,49.0005,54.02579167,53.347625,54.0075,29.944492,29.94227258,31.27943565,31.41900021,31.22652015,31.16229753]
         
         var salinitydata = [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,29.65503034,28.29256382,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,33.44051111,33.46124211,33.47549894,33.48298737,33.51407234,33.52452947,33.54177021,33.53239368,33.52756383,33.52200726,33.49766139,33.46548271,33.44513542,33.41223257,33.36605854,33.33169333,33.26683472,33.22139958,33.16064695,33.19584149,33.17026947,33.12512182,null,null,null,null,null,null,null,null,null,null,null,null,null,null,33.95752604,33.20100028,33.96160507,33.94645937,33.91874493,33.90595076,33.86750729,33.76213174,33.65935125,33.61135257,33.61487639,33.50856625,33.42394854,33.28732132,33.2704275,33.27896132,33.21449174,33.11382271,33.04759768,32.95898369,null,null,null,null,null,32.85905412,32.85005,32.77526105,32.69018085,32.47175397,32.50054894,32.42327556,32.34118596,33.67501213,33.44405347,33.75674181,33.8014809,33.79761092,33.81267199,33.69705486,33.64182035,33.49035139,33.34683222,33.35039769,33.37808499,33.1465484,33.40191382,33.36113382,33.34164546,33.19610695,33.05924149,33.00044783,32.93039048,33.02147105,33.78458511,33.81328118,33.92386667,33.82924762,33.90274556,33.87173077,33.86356364,33.7496175,33.90098421,33.51239574,33.68717895,33.83962553,33.83744149,33.78639053,33.70828191,33.57635368,33.51141596,33.57766737,33.52202118,33.58286064,33.50065474,33.49435128,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,31.62037266,31.0623218,30.64155836,null,null,null,null,null,null,null,null,null,null,30.37588169,30.51249319,30.39803885,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,29.00481667,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,26.68328251,26.30084595,26.63460752,27.08125979,25.99293146,27.40890723,27.58163354,27.63933225,null,null,null,null,null,null,null,null,null,null,null,null,30.24161818,30.73832092,30.5272175,30.4598401,29.87571545,31.19313111,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,14.06498889,10.15922563,24.29499148,25.30568848,33.31350988,33.42106667,33.43973509,19.17027262,30.32148079,33.49744233,31.83734642,33.07657966,33.15080629,33.45182949,33.61600208,33.67291491,33.52595708,null,null,null,33.69004448,33.69433635,33.6438855,33.6111402,31.78905848,33.22616071,33.73441584,33.69949733,33.72727773,null,33.72536394,32.94530829,33.3040324,33.72871183,33.62122669,33.81562825,33.89215018,33.79697615,32.84136467,33.89857456,33.86421926,33.87918071,33.93900007,33.94224541,33.88911845,33.00952136,33.15328824,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,34.07620833,33.99806489,34.35657979,34.32523895,32.9055766,34.25438947,28.84475532,33.95975579,34.34414149,34.24881368,34.1762734,32.75346596,34.04990992,34.05674763,33.77627462,32.40599234,34.0789148,33.96243155,33.94193493,33.58351936,32.54051482,33.2633341,32.8848984,32.78347228,32.63552908,32.57534161,32.48498579,32.33150634,32.25170779,32.3073188,31.98960292,32.19260661,31.39195706,32.12358741,32.2813025,32.25217223,32.00843563,30.33383029,32.37837688,32.37603217,8.034278404,null,32.70533975,32.47108954,32.23973671,32.04456381,31.43971162,31.92177606,31.68578514,31.72469025,31.52736127,31.57088522,31.44909366,29.49621971,]
         
         var series = [
            {
            name: 'PH',
            type: 'line',
            yAxis :0,
            //visible :false,
            pointIntervalUnit: 'day',
            pointStart: Date.UTC(2014, 4,31),
            color : Highcharts.getOptions().colors[0],
            data: phdata,
            // tooltip: {
            //    valueSuffix: 'BU/acre'
            // }
         },
         {
            name: 'Dissolved CO2',
            type: 'line',
            yAxis :1,
            visible :false,
            pointIntervalUnit: 'day',
            pointStart: Date.UTC(2014, 4,31),
            color : Highcharts.getOptions().colors[1],
            data: co2data,
            // tooltip: {
            //    valueSuffix: 'in.'
            // }
         },
                 {
            name: 'Temperature',
            type: 'line',
            yAxis :2,
            visible :false,
            pointIntervalUnit: 'day',
            pointStart: Date.UTC(2014, 4,31),
            color : Highcharts.getOptions().colors[2],
            data: tempdata,
            // tooltip: {
            //    valueSuffix: 'in.'
            // }
         },
         {
            name: 'Salinity',
            type : 'line',
            yAxis :3,
            visible :false,
            pointIntervalUnit: 'day',
            pointStart: Date.UTC(2014, 4, 31),
            color : Highcharts.getOptions().colors[4],
            data: salinitydata,
            //dashStyle: 'ShortDashDot',
            // tooltip: {
            //    valueSuffix: '\xB0F'
            // }
         },
        ];

         var json = {};
         json.chart = chart;
         json.title = title;
         json.subtitle = subtitle;
         json.legend = legend;
         json.tooltip = tooltip;
         json.xAxis = xAxis;
         json.yAxis = yAxis;
         json.series = series;
         json.credits = credits;
         //json.plotOptions = plotOptions;
         $('#container').highcharts(json);

      });
   </script>

  
   	
   		

   
	</body>
	
</html>