<ion-view view-title="Tips">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>May 06, 2016</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://www.fieldsync.net/files/2113/6460/9808/banner_agriculture.png">
    <p>
     It is helpful to plan careful to manage risk through diversification, financial management, and the ability to withstand a couple of bad years.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>


  <div class="item item-avatar">
    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>May 05, 2016</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://agriculturalrev.weebly.com/uploads/1/4/1/4/14146769/1560183_orig.jpg">
    <p>
     For most beginning farmers, we advise starting small to allow time for details to be worked out, for additional learning to occur, and to mitigate the size and scope of problems that will inevitably arise.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>


</div>
  </ion-content>
</ion-view>
